<div class="container">
   
    <div class="login-box animated fadeInUp">
        <div class="box-header">
            <h2>Iniciar sesión</h2>
        </div>
        <label for="username">Username</label>
        <br/>
        <input type="text" id="username">
        <br/>
        <label for="password">Password</label>
        <br/>
        <input type="password" id="password">
        <br/>
        <button type="submit">Sign In</button>
        <p> <span> ¿Aun no tienes cuenta? <a href="#">Registrate</a></span></p>
       
    </div>
</div>