
<div class="fullContainer">
  <div class="contenedorContenido">
    <div class="row">
      <div class="column columnaSorteos">

        <div class="divIntroSorteo">

          <div class="divPresentacion" *ngIf="pasoActual === 0">
            <span class="titlePresentacion">Bienvenido a Sorteo Avanzado con DecideJbot</span>
            <p>Con la experiencia del Sorteo Avanzado en DecideJbot podrás:
              <ul> 
              <li>Programar una fecha de realización <small>(Los resultados no se obtendrán hasta dicha fecha)</small></li>
              <li>Publicar y compartir los resultados del sorteo <small>(Requiere inicio de sesión)</small></li>
              <li>Índicar premios del sorteo</li>
              <li>¡Y mucho más!</li>  
              </ul>
  
              <button mat-raised-button class="btnComenzarSorteoAvanzado" (click)=" comenzarSorteoAvanzado()">Comenzar</button>
          </div>

          <div class="paso1" *ngIf="pasoActual === 1">
            <span class="titlePaso">Paso 1: Identifica el sorteo</span>
            <br>
            <span class="descripcion">Añade un título o una descripción al sorteo para que se sepa de que trata y/o se pueda identificar fácil y rápido.</span>
            <p>

            <mat-form-field appearance="outline">
              <mat-label>Título/Descripción</mat-label>
              <input type="text" matInput class="titlePaso" [(ngModel)]="titulo">

              
            </mat-form-field>

            <br>
            
            <button  mat-flat-button color class="btnGoPasoParticipantes" (click)="goStepParticipantes()">
             Participantes  <i class="fa fa-chevron-right"></i>
            </button>
          
          </div>

          <div class="paso2" *ngIf="pasoActual === 2">
            <span class="titlePaso">Paso 2: ¿Quién participa?</span>
            <br>
            <span class="descripcion">Índica los participantes de "{{titulo}}" </span>
            <p>
          </div>
         
          
        </div>
        

        
           
           
           
            
            
        

       

      </div>
       
      <div class="column columnaOtrosSorteos">
        <div class="box">
          <span class="descripcionSorteo">
            Si deseas realizar un sorteo fácil y rápido,
            realiza un <a href="#"> sorteo simple. </a>
          </span>
        </div>
        <hr
          style="
            height: 2px;
            background-color: #4caf50;
            margin-left: auto;
            margin-right: auto;
          "
        />
        <div class="box">
          <span class="descripcionSorteo">
            Si deseas obtener un único ganador prueba a utilizar
            <a href="#"> la ruleta. </a>
          </span>
        </div>
        <hr
          style="
            height: 2px;
            background-color: #4caf50;
            margin-left: auto;
            margin-right: auto;
          "
        />
        <div class="box">
          <span class="descripcionSorteo">
            Si deseas sortear equipos o grupos, utiliza el
            <a href="#"> generador de grupos. </a>
          </span>
        </div>
        <hr
          style="
            height: 2px;
            background-color: #4caf50;
            margin-left: auto;
            margin-right: auto;
          "
        />
        <div class="box">
          <span class="descripcionSorteo">
            Prueba a <a href="#"> asociar elementos </a> de dos listas.
          </span>
        </div>
        <hr
          style="
            height: 2px;
            background-color: #4caf50;
            margin-left: auto;
            margin-right: auto;
          "
        />
        <div class="box">
          <span class="descripcionSorteo">
            Prueba a
            <a href="#"> obtener ganador del sorteo de una publicación </a>
          </span>
        </div>
        <hr
          style="
            height: 2px;
            background-color: #4caf50;
            margin-left: auto;
            margin-right: auto;
          "
        />
        <div class="box">
          <span class="descripcionSorteo">
            Participa en <a href="#"> sorteos exclusivos </a> de DecideJbot
          </span>
        </div>
        <hr
          style="
            height: 2px;
            background-color: #4caf50;
            margin-left: auto;
            margin-right: auto;
          "
        />
        <div class="box">
          <span class="descripcionSorteo">
            Prueba a
            <a routerLink="/sorteos/NumerosAleatorios">
              generar números aleatorios
            </a></span>
        </div>
      </div>
    </div>
  </div>
</div>
