
  body {
    background-color: #fbfdeb;
  }

  .fullContainer {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    padding: 0;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    -webkit-flex: 1 1;
    -moz-box-flex: 1;
    flex: 1 1;
   
  }
  
  .contenedorContenido {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    flex-grow: 1;
    padding-top: 2.25rem;
    background-color: #fbfdeb;
    height: 100%;
  }
  
  .column {
    float: left;
    padding: 10px;
  }
  
  .row {
    background-color: #fbfdeb;
    height: 100%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .columnaSorteos {
    width: 100%;
  }

  .columnaOtrosSorteos {
    display: none;
    width: 25%;
    padding-right: 1.125rem;
    padding-left: 1.125rem;
  }

  .divIntroSorteo{
    margin: auto;
    text-align: center;
  }

  .divIntroSorteo ul {
    list-style: none;
  }

  .btnComenzarSorteoAvanzado{
    background-color: #4caf50;
    color: white;
    
  }

  .divSorteoSimple {
    width: 100%;
    margin: auto;
    align-items: end;
    display: flex;
  }


 
 .descripcionSorteo a {
  text-decoration: none;
  color: #4caf50;
  font-weight: bold;
}

.titlePresentacion, .titlePaso {
  margin: 0;
  font-family: "Fredoka One", -apple-system, BlinkMacSystemFont, "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica", "Arial",
    sans-serif;
  font-weight: 900;
  font-size: 2.125rem;
  color: #4caf50;
  text-align: center;
}

.descripcion {
  margin: 0px;
  font-family: Montserrat, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.75;
  color: rgba(0, 0, 0);
  text-align: center;
}

.paso1 .mat-form-field{
  width: 50%;
}

.btnGoPasoParticipantes{
  margin: 0;
  font-family: "Fredoka One", -apple-system, BlinkMacSystemFont, "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica", "Arial",
    sans-serif;
  font-weight: 900;
  font-size: 2.125rem;
  background-color: #4caf50;
  text-align: center;
  color: white;
  padding: 12px;
}

/* PC */
@media(min-width: 1024px){
  .columnaSorteos {
    width: 75%;
  }

  .columnaOtrosSorteos {
    display: block;
  }

  .infoPulsaIntro {
    display: block;
  }

  .content ul input {
    display: block;
  }

  .divInput {
    display: none;
  }

  .containerGanadores {
    
    width: 25%;
    
  }

}