<div class="fullContainer">
    <div class="contenedorContenido">
        <div class="sectionSorteos">
            <h1 class="tituloSeccion">Elige un sorteo</h1>

            <div class="menuSorteos">
                <div class="card" routerLink="sorteos/SorteoSimple">
                    <img src="assets/img/raffle.png">
                   <h3>Sorteo simple</h3>
                   <div class="line"></div>
                   <p></p>
                  
                </div>
            
                <div class="card" routerLink="sorteos/SorteoAvanzado">
                    <img src="assets/img/raffle1.png">
                    <h3>Sorteo avanzado</h3>
                    <div class="line"></div>
                        <p>Programa el sorteo para una fecha específica, comparte los resultados... ¡Y mucho más!</p>
                    
                </div>

                <div class="card" routerLink="sorteos/NumerosAleatorios">
                    <img src="assets/img/numbers.png">
                    <h3>Números aleatorios</h3>
                    <div class="line"></div>
                        <p></p>
                </div>

              

                

                

                <div class="fullCard" *ngIf="usuarioLogueado | async as user;" routerLink="sorteos/lista" >
                   
                        <img src="assets/img/historial.png">
                       
                            <span > Historial de sorteos </span>
                       
                   
                    
                    
                </div>


                
            </div>
        </div>
       
       
    </div>

  
</div>

